<div class="card">
  <div class="card-body">
      <h5 class="card-title-margin">Adress Information</h5>

      <div class="input-group form-floating mb-3">
          <input (keyup.enter)="loadAdressData($event)" id="adress" minlength="40" spellcheck="false" [(ngModel)]="adress" type="text" class="form-control" id="floatingInput" value={{this.adress}}>
          <label for="floatingInput">ETH Adress (ERC20)</label>
          <button (click)="loadAdressData($event)" class="btn btn-outline-primary" type="button">🔍 Search</button>
      </div>
    
      <div class="form-text">
        An ETH address, also known as an ERC20 address, is the receiving address of an Ethereum wallet. The address starts with “0x” and is followed by a series of 40 random characters. <br><br>
        Example: 0xEA674fdDe714fd979de3EdF0F56AA9716B898ec8
      </div>
    </div>

    <img *ngIf="loading" src="./../../../assets/GIFs/loading.gif" class="center" width="100" height="100">
    
    <div *ngIf="informationReceived">
      <hr>
      <div class="padding">
        <h5 class="card-title">Adress Information</h5>
          <ul class="list-group list-group-flush">    
            <li class="list-group-item">Balance: <span>{{this.balance}}</span></li>
            <li class="list-group-item">Value in USD <span>${{this.value}} <i>(@ ${{this._coinInformation.currentPriceUSD}}/ETH)</i></span></li>
          </ul>
      </div>
    </div>

    <div *ngIf="error" class="card-header alert-warning fade show" role="alert">
      <strong>🤷‍♂️ Hmmmm.</strong> Looks like we couldn't find the adress you typed in... Please check for typos or try another one.<br>
    </div>

    <div *ngIf="severeError" class="card-header alert-danger fade show" role="alert">
      <strong>😖 Oh oh.</strong> This shouldn't have happened. Please try again later.<br>
      <i>devconsole: {{this.errorMessage}}</i>
    </div>

    <div *ngIf="informationReceived" class="card-header">
      <button (click)="informationReceived = !informationReceived" class="btn center">
        ⬆️ Less info
      </button>
    </div>
</div>

