<div class="card">
  <div class="card-body">
    <h5 class="card-title-margin">Ethereum News</h5>
    <div class="d-flex flex-row flex-nowrap ">

      <ul class="list-group list-group-flush" style="width: 100%;">

        <div *ngIf="loading" class="spinner-grow center text-secondary" width="100" height="100"
          style="margin-bottom: 1em;">
          <span class="visually-hidden">Loading...</span>
        </div>

        <li class="list-group-item" *ngFor="let article of articles">
          <a (click)="goToUrl(article['location']['uri'])" style="text-decoration: none; color: black;">
            <b>{{article['title']['title']}}</b>
            <p>{{article['editorial']['subheading']}}</p>
            <span>by <i>{{article['editorial']['byline']}}</i></span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div *ngIf="severeError" class="card-header alert-danger fade show" role="alert">
    <strong>📡 Something went wrong.</strong> Please ensure you have proper internet connection.<br>
  </div>
</div>