<div class="card">
  <div class="card-body">
    <h5 class="card-title-margin">Ethereum News</h5>
    <div class="d-flex flex-row flex-nowrap ">

      <div *ngIf="loading" class="spinner-border center text-secondary" width="100" height="100"
        style="margin-bottom: 1em;">
        <span class="visually-hidden">Loading...</span>
      </div>

      <ul class="list-group list-group-flush">

        <li class="list-group-item" *ngFor="let article of articles">
          <a href="{{article['url']}}" style="text-decoration: none; color: black;">
            <img class="card-img" src="{{article['urlToImage']}}"
              style="width: 5em; height: 5em; margin: 1em; float: left;">
            <b>{{article['title']}}</b>
            <p>{{article['description']}}</p>
            <span style="float:right">by <i>{{article['source']['name']}}</i></span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div *ngIf="severeError" class="card-header alert-danger fade show" role="alert">
    <strong>📡 Something went wrong.</strong> Please ensure you have proper internet connection.<br>
  </div>

  <div *ngIf="error" class="card-header alert-warning fade show" role="alert">
    <strong>🤷‍♂️ Hmmm.</strong> Looks like we couldn't find the adress you typed in. Please check for typos or try
    another one.<br>
  </div>
</div>