img{
    height: 125px;
    object-fit: cover;
}

.even {
    width: 80vw;
    height: 400px;
    max-width: 500px;
}

.hidden{
    overflow: scroll;
}

.news-item{
    width: 500;
    margin-right: 1em;
}

li:hover{
    background-color: rgba(0,0,0,0.05);
}
