<div class="card">
    <div class="card-body">
      <h5 class="card-title-margin">News</h5>
      <div class="d-flex flex-row flex-nowrap scrollable">
        
        <div *ngIf="loading" class="spinner-border center text-secondary" width="100" height="100" style="margin-bottom: 1em;">
          <span class="visually-hidden">Loading...</span>
        </div>

        <div class="news-item" *ngFor="let article of articles">
          <a href="{{article['url']}}" style="text-decoration: none; color: black;">
            <div class="card card-block even">
              <img class="card-img-top" src="{{article['urlToImage']}}">

              <div class="card-body hidden">
                <h5 class="card-title">{{article['title']}}</h5>
                <p class="card-text">{{article['description']}}</p>
              </div>

              <div class="card-footer">
                <small class="text-muted">Published at {{article['publishedAt']}} via {{article['author']}} <i>({{article['source']['name']}})</i></small>
              </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div *ngIf="severeError" class="card-header alert-danger fade show" role="alert">
    <strong>📡 Something went wrong.</strong> Please ensure you have proper internet connection.<br>
  </div>

  <div *ngIf="error" class="card-header alert-warning fade show" role="alert">
    <strong>🤷‍♂️ Hmmm.</strong> Looks like we couldn't find the adress you typed in. Please check for typos or try another one.<br>
  </div>
</div>