<div *ngIf="!severeError && !error" style="height: 300px;">
    <hr>
    <ngx-charts-line-chart 
        [results]="multi"
        [yAxisLabel]="'Value in USD'"
        [xAxis]="false"
        [yAxis]="false"
        [showXAxisLabel]="false"
        [showYAxisLabel]="false"
        [gradient]="true"
        [timeline]="true"
        [scheme]="colorScheme"
        [animations]="true">
    </ngx-charts-line-chart >
</div>

<img *ngIf="loading" src="./../../../assets/GIFs/loading.gif" class="center" width="100" height="100">

<div *ngIf="severeError" class="card-header alert-danger fade show" role="alert">
    <strong>😖 Oh no.</strong> This shouldn't have happened. Please try again later.<br>
    <i>devconsole: {{this.errorMessage}}</i>
</div>

<div *ngIf="error" class="card-header alert-warning fade show" role="alert">
    <strong>🤷‍♂️ Hmmm.</strong> Looks like we couldn't find the adress you typed in. Please check for typos or try another one.<br>
</div>