<div class="card">
    <div class="card-body">
      <h5 class="card-title-margin">Market Data</h5>
      <h6 class="card-title">{{this.id}} <b>(USD/{{this.symbol}})</b></h6>
      <p class="card-text">{{this.description}}</p>
      
    </div>

    <app-graph></app-graph>

    <div *ngIf="collapsed">
      <hr>
      <div class="card-body">
        <h5 class="card-body-title">Statistics</h5>
        <ul class="list-group list-group-flush">    
          <li class="list-group-item">Market Capitalization Rank: <span>{{this.market_cap_rank}}</span></li>
        <li class="list-group-item">Market Capitalization: <span>${{this.market_cap}}</span></li>
        <li class="list-group-item">Current Price: <span>${{this.current_price}}</span></li>
        <li class="list-group-item">All Time High: <span>${{this.all_time_high}}</span></li>
        <li class="list-group-item">All Time Low: <span>${{this.all_time_low}}</span></li>
      </ul>
    </div>

    <div *ngIf="loading" class="spinner-border center text-secondary" width="100" height="100" style="margin-bottom: 1em;">
      <span class="visually-hidden">Loading...</span>
    </div>
    
    <div *ngIf="severeError" class="card-header alert-danger fade show" role="alert">
      <strong>😖 Oh no.</strong> This shouldn't have happened. Please try again later.<br>
      <i>devconsole: {{this.errorMessage}}</i>
    </div>
  
    <div *ngIf="error" class="card-header alert-warning fade show" role="alert">
      <strong>🤷‍♂️ Hmmm.</strong> Looks like we couldn't find the adress you typed in. Please check for typos or try another one.<br>
    </div>
  </div>

  <div *ngIf="loading" class="spinner-border center text-secondary" width="100" height="100" style="margin-bottom: 1em;">
    <span class="visually-hidden">Loading...</span>
  </div>

  <div class="card-header">
    <button *ngIf="!collapsed" (click)="collapsed = !collapsed" class="btn center">
      <b>More Information</b>
    </button>
    <button *ngIf="collapsed" (click)="collapsed = !collapsed" class="btn center">
      <b>Less Information</b>
    </button>
  </div>
</div>