/* You can add global styles to this file, and also import other style files */
.card{
    margin-bottom: 1em;
}

@media only screen and (min-width: 768px) {
    body{
        width: 80%;
        margin: auto;
    }
}

@media only screen and (max-width: 768px) {
    body{
        width: 100%;
        margin: auto;
    }
  }

  .card-title-margin{
      margin-bottom: 1em;
  }

  .padding{
      padding: 1em;
  }